*.pyc
*.pyo
*.p
*.mp4
data/
data_camp/
*.wav
*.png
*.jpg
*.pkg
*.sh
*.gif
*.ipynb
*.pkf
data_analysis/
Audio/
taskversion.py
LDRH_choice_with_tasks_w_gradeinfo.py

Dots_Task/LDRH_panamath_boxes_obj_w_gradeinfo.py
settings.py
